<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012984318961-f3cq1ams14pfp91vh72hahiftc6hf0eg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012984318961-f3cq1ams14pfp91vh72hahiftc6hf0eg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1012984318961-55hgpt95r6vku38cgv928q5ijgohkeul.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyClrUNLOggbtIgsPxegeIv92vcMcH-SZSs</string>
	<key>GCM_SENDER_ID</key>
	<string>1012984318961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.slogup.reactnativeboilerplate.debug</string>
	<key>PROJECT_ID</key>
	<string>rnbp-1ef64</string>
	<key>STORAGE_BUCKET</key>
	<string>rnbp-1ef64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012984318961:ios:31ba429729891af7f0d250</string>
</dict>
</plist>